// --------------------------------------
// 색상정의
// --------------------------------------

$primary: #ED3245;
$success: #FFDC16;
$secondary: #28A745;
$info: #17A2B8;

$danger: red;
$warning: tomato;

$dark: #333;
$light: #fafafa;

body{
  background: #000000;
}